<header>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  <h1 class="myng">{{ title }}</h1>
  <nav class="my-link">
    <a routerLink="./hello-world" routerLinkActive="st-active" class="router-link"><span class="material-symbols-outlined">
      public
      </span>Hello-world</a>
    <a routerLink="./profile" routerLinkActive="st-active" class="router-link"><span class="material-symbols-outlined">
      person
      </span>Profile</a>
    <a routerLink="./friend" routerLinkActive="st-active" class="router-link"><span class="material-symbols-outlined">
      group
      </span>Friend</a>
    <a routerLink="./status" routerLinkActive="st-active" class="router-link"><span class="material-symbols-outlined">
      fact_check
      </span>Status</a>
  </nav>
</header>

<router-outlet></router-outlet>
