<nav>
<h1>My Profile</h1>
<h2>Basic Information</h2>
<ul>
  <li><b>Name:</b> Siraphob Inthajak</li>
  <li><b>Gender:</b> Male</li>
  <li><b>Age:</b> 21</li>
</ul>
<h2>Autobiography</h2>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.<br>
Accusantium distinctio blanditiis hic ipsam illo consequuntur<br>
facere delectus nulla,aliquid asperiores numquam!<br>
 Temporibus illum dolorum natus, ex eveniet distinctio,<br>
voluptates error sed sunt assumenda debitis obcaecati.<br>
Esse iusto maiores maxime sapiente architecto possimus!<br>
Expedita maxime quo culpa itaque labore dolor porro?<br></p>
<h2>Github Pages</h2>
<nav class="profile-lab">
  <a href="https://github.com/camt-mmit/2023_01-954447-001-lab-02-dom-and-javascript-FalarimFilm" class="lab-link">Lab2</a>
  <a href="https://github.com/FalarimFilm/2023-01-954447-001-lab-03-introduction-to-typescript-FalarimFilm.git" class="lab-link">Lab3</a>
  <a href="" class="lab-link">Lab4</a>
</nav>
</nav>
