<nav>
  <h2 align="center">Friend</h2>
  <h3 class="friend-topic">My Friends List</h3>
  <table border="1" align="center">
    <tbody class="table-list" align="center">
      <tr>
        <th>First-Name</th>
        <th>Last-name</th>
        <th>Nick-name</th>
        <th>GitHub Pages</th>
      </tr>
      <tr>
        <td>Pattanapong</td>
        <td>theam-ai</td>
        <td>mark</td>
        <td>
          <nav class="profile-lab">
          <a href="https://github.com/camt-mmit/2023_01-954447-001-lab-02-dom-and-javascript-Rinrainmk.git" class="lab-link">Lab2</a>
          <a href="https://github.com/camt-mmit/2023-01-954447-001-lab-03-introduction-to-typescript-Rinrainmk.git" class="lab-link">Lab3</a>
          <a href="" class="lab-link">Lab4</a>
        </nav>
        </td>
      </tr>
      <tr>
        <td>Phumipat</td>
        <td>Jaipattanasak</td>
        <td>Phupha</td>
        <td>
          <nav class="profile-lab">
          <a href="https://github.com/camt-mmit/2023_01-954447-001-lab-02-dom-and-javascript-pmpax.git" class="lab-link">Lab2</a>
          <a href="https://github.com/camt-mmit/2023-01-954447-001-lab-03-introduction-to-typescript-Rinrainmk.git" class="lab-link">Lab3</a>
          <a href="https://github.com/camt-mmit/2023-01-954447-001-lab-04-introduction-to-angular-pmpax.git" class="lab-link">Lab4</a>
        </nav>
        </td>
      </tr>
    </tbody>
  </table>
</nav>
